:root {
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.8);
}

main,
.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar,
.todo {
  width: 700px;
}

.calendar__main-title,
.calendar__head,
.calendar__body,
.calendar__day-of-week,
.calendar__day {
  width: 100%;
}

.calendar {
  background: linear-gradient(74deg, #f5f5dcb7, #63bfe3 100%);
  margin: 50px auto 0;
  /* padding: 20px 0px 20px 25px; */
  padding: 20px;
  border-radius: 10px;
}

.calendar__main-title {
  text-align: center;
}

.calendar__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.calendar__body {
}

.calendar__day-of-week {
  display: flex;
  justify-content: flex-start;
  margin: 0 7px -7px 7px;
}

.calendar__day-of-week > li:first-child {
  color: red;
}
.calendar__day-of-week > li {
  width: 94px;
}

.calendar__day-of-week > li:last-child {
  color: blue;
}

.calendar__day {
  /* display: flex;
  justify-content: space-evenly; */
}

.calendar__day li {
  float: left;
  background: white;
  padding: 10px;
  width: 80px;
  height: 80px;
  margin: 10px 7px 0;
}

/* main  */
.calendar__day li:last-child {
  margin-right: 0;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.todo {
  margin: 10px auto 100px;
  background: #f5f5dc;
  padding: 20px;
}

.todo__title {
}

.todo-form {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.todo-form__input[type="text"] {
  width: 300px;
  /* padding: 5px 20px; */
  border: 3px solid rgb(222, 140, 229);
  border-radius: 10px;
}

.todo-form__input[type="text"]:focus {
  outline: none;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.todo-form__button {
  border: none;
  border: 3px solid rgb(220, 140, 229);
  padding: 6px 10px;
  background-color: var(--white);
  border-radius: 20px;
}

.todo-form__button:focus {
  outline: none;
}

.todo-form__button:hover {
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1.1);
}

.todo-list {
  padding: 10px;
}

.todo-list li {
  padding: 8px;
  border-bottom: 1px solid gray;
}

.disabled {
  opacity: 0.5;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid #87ceeb;
  padding: 10px;
  color: #333;
  border-radius: 5px;
  outline: none;
  width: 50%;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #ff6b6b;
}

button {
  background-color: #87ceeb;
  color: #fff;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
li button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

button:hover {
  background-color: #ff6b6b;
}

.left,
.right {
  cursor: pointer;
}
